body {
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  background-color: #ffffff;
}

#info-bar {
  width: 100%;
  background-color: #ff0000;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#info-bar a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

header {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 60px;
}

img {
  max-width: 25%;
  height: auto;
}

.calculator {
  width: 48%;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  float: left;
}

h2 {
  margin-bottom: 10px;
  color: #004080;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #004080;
}

label[for="currency"] {
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #004080;
  color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #000;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-weight: bold;
}

.revenue-difference {
  margin-top: 20px;
  font-weight: bold;
  color: white;
  padding: 15px;
  clear: both;
  background-color: #004080;
}

.currencySymbol {
  font-weight: bold;
}

#languageSelection {
  font-size: 1.2em;
  margin-top: 10px;
}

#plLanguage {
  font-weight: bold;
}

#enLanguage {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  margin-left: 5px;
}

#enLanguage:hover {
  color: darkblue;
}

footer {
  margin-top: 20px;
  text-align: left;
}
